<style>
@charset "UTF-8";
.footer {
background-color: #292c2f;
text-align: center;
font-size: 1.2rem;
padding: 4rem; }
.footer p.slogan {
color: #8d9093;
font-size: 1.8rem;
margin: 0 0 1rem; }
.footer p.copywrite {
color: #8f9296;
font-size: 0.875rem;
margin: 0; }
.footer .links a {
list-style: none;
font-weight: bold;
color: #ffffff;
padding: 3rem 0 2rem;
margin: 0; }
.footer .links a::after {
content: "•";
padding: 0 0.4rem 0 0.8rem; }
.footer .links a:last-child::after {
content: "";
padding: 0 0.4rem 0 0.8rem; }
.freepik {
    color:#292c2f;
    font-size:0.5px;
}
.freepik a {
    color: #292c2f;
}
</style>
<footer class="footer">
    <div class="row">
        <div class="small-12 columns">
            <p class="slogan">Reaching new heights</p>
            <p class="links">
                <a href="mailto:support@plasmicmedia.com">Contact</a>
            </p>
            <p class="copywrite">Plasmic Media, LLC © 2017</p>
        </div>
    </div>
</footer>