<style>
.headerwrapper {
height: 100px;
}
.wrapper {
height: 100px;
width: 100%;
background-color: #fff;
}
</style>
<div class="fixed wrapper">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <a href="#"><img src="http://placehold.it/200x50&text=Logo"/></a>
            </li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            
            <ul class="left">
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="has-form">
                    <div class="row collapse">
                        <div class="large-8 small-9 columns">
                            <input type="text" placeholder="Find Stuff">
                        </div>
                        <div class="large-4 small-3 columns">
                            <a href="#" class="alert button expand">Search</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="right">
                <li><a href="/backbone/events"><span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" title="Nightlife and Performances!">Events</span></a></li>
                <li><a href="/backbone/features"><span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" title="Features!">Features</span></a></li>
                <li><a href="/backbone/login"><span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" title="Login!">Login</span></a></li>
                <li><a href="#"><span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" title="Get started!">Pricing & Signup</span></a></li>
                <li><a href="/backbone/investors"><span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" title="Invest in the future!">Investors</span></a></li>
                <li data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'"title="Quick Links" class="toggle-topbar menu-icon" style="display:block" ><a href="#"><span>&nbsp</span></a></li>
            </ul>
            
        </section>
    </nav>
</div>